**IMPORT NECESSARY DATASETS**

In [1]:
import pandas as pd
from sklearn.linear_model import LinearRegression
from statsmodels.regression.linear_model import OLS
from statsmodels.tools.eval_measures import aic, bic

**IMPORT THE DATASET**

In [3]:
# Load the dataset
data = pd.read_csv('credit_example.csv')
data

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,247408,0,Cash loans,F,Y,N,2,108000.0,172512.0,13477.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,153916,0,Revolving loans,F,Y,Y,2,135000.0,180000.0,9000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,229065,0,Cash loans,F,N,Y,0,112500.0,463500.0,20547.0,...,0,0,0,0,0.0,0.0,1.0,0.0,0.0,7.0
3,282013,0,Cash loans,F,N,Y,0,135000.0,549882.0,17739.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
4,142266,0,Cash loans,F,N,Y,0,90000.0,518562.0,20695.5,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,380244,0,Cash loans,M,Y,Y,0,157500.0,728460.0,40806.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
9996,252595,0,Cash loans,M,Y,Y,1,202500.0,851778.0,25033.5,...,0,0,0,0,0.0,0.0,1.0,1.0,0.0,2.0
9997,153218,0,Cash loans,F,N,Y,0,112500.0,942300.0,30528.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
9998,429449,0,Cash loans,F,Y,Y,0,270000.0,1147500.0,33682.5,...,0,0,0,0,0.0,0.0,0.0,0.0,3.0,9.0
9999,196142,1,Revolving loans,F,N,Y,1,135000.0,270000.0,13500.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0

In [4]:
from sklearn.preprocessing import LabelEncoder
le= LabelEncoder()
data['NAME_CONTRACT_TYPE']=le.fit_transform(data['NAME_CONTRACT_TYPE'])
data

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,247408,0,0,F,Y,N,2,108000.0,172512.0,13477.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,153916,0,1,F,Y,Y,2,135000.0,180000.0,9000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,229065,0,0,F,N,Y,0,112500.0,463500.0,20547.0,...,0,0,0,0,0.0,0.0,1.0,0.0,0.0,7.0
3,282013,0,0,F,N,Y,0,135000.0,549882.0,17739.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
4,142266,0,0,F,N,Y,0,90000.0,518562.0,20695.5,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,380244,0,0,M,Y,Y,0,157500.0,728460.0,40806.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
9996,252595,0,0,M,Y,Y,1,202500.0,851778.0,25033.5,...,0,0,0,0,0.0,0.0,1.0,1.0,0.0,2.0
9997,153218,0,0,F,N,Y,0,112500.0,942300.0,30528.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
9998,429449,0,0,F,Y,Y,0,270000.0,1147500.0,33682.5,...,0,0,0,0,0.0,0.0,0.0,0.0,3.0,9.0
9999,196142,1,1,F,N,Y,1,135000.0,270000.0,13500.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0

In [5]:
from sklearn.preprocessing import LabelEncoder
le= LabelEncoder()
data['CODE_GENDER']=le.fit_transform(data['CODE_GENDER'])
data

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,247408,0,0,0,Y,N,2,108000.0,172512.0,13477.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,153916,0,1,0,Y,Y,2,135000.0,180000.0,9000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,229065,0,0,0,N,Y,0,112500.0,463500.0,20547.0,...,0,0,0,0,0.0,0.0,1.0,0.0,0.0,7.0
3,282013,0,0,0,N,Y,0,135000.0,549882.0,17739.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
4,142266,0,0,0,N,Y,0,90000.0,518562.0,20695.5,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,380244,0,0,1,Y,Y,0,157500.0,728460.0,40806.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
9996,252595,0,0,1,Y,Y,1,202500.0,851778.0,25033.5,...,0,0,0,0,0.0,0.0,1.0,1.0,0.0,2.0
9997,153218,0,0,0,N,Y,0,112500.0,942300.0,30528.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
9998,429449,0,0,0,Y,Y,0,270000.0,1147500.0,33682.5,...,0,0,0,0,0.0,0.0,0.0,0.0,3.0,9.0
9999,196142,1,1,0,N,Y,1,135000.0,270000.0,13500.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0

In [6]:
from sklearn.preprocessing import LabelEncoder
le= LabelEncoder()
data['FLAG_OWN_CAR']=le.fit_transform(data['FLAG_OWN_CAR'])
data

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,247408,0,0,0,1,N,2,108000.0,172512.0,13477.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,153916,0,1,0,1,Y,2,135000.0,180000.0,9000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,229065,0,0,0,0,Y,0,112500.0,463500.0,20547.0,...,0,0,0,0,0.0,0.0,1.0,0.0,0.0,7.0
3,282013,0,0,0,0,Y,0,135000.0,549882.0,17739.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
4,142266,0,0,0,0,Y,0,90000.0,518562.0,20695.5,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,380244,0,0,1,1,Y,0,157500.0,728460.0,40806.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
9996,252595,0,0,1,1,Y,1,202500.0,851778.0,25033.5,...,0,0,0,0,0.0,0.0,1.0,1.0,0.0,2.0
9997,153218,0,0,0,0,Y,0,112500.0,942300.0,30528.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
9998,429449,0,0,0,1,Y,0,270000.0,1147500.0,33682.5,...,0,0,0,0,0.0,0.0,0.0,0.0,3.0,9.0
9999,196142,1,1,0,0,Y,1,135000.0,270000.0,13500.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0

In [8]:
from sklearn.preprocessing import LabelEncoder
le= LabelEncoder()
data['FLAG_OWN_REALTY']=le.fit_transform(data['FLAG_OWN_REALTY'])
data

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,247408,0,0,0,1,0,2,108000.0,172512.0,13477.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,153916,0,1,0,1,1,2,135000.0,180000.0,9000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,229065,0,0,0,0,1,0,112500.0,463500.0,20547.0,...,0,0,0,0,0.0,0.0,1.0,0.0,0.0,7.0
3,282013,0,0,0,0,1,0,135000.0,549882.0,17739.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
4,142266,0,0,0,0,1,0,90000.0,518562.0,20695.5,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,380244,0,0,1,1,1,0,157500.0,728460.0,40806.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
9996,252595,0,0,1,1,1,1,202500.0,851778.0,25033.5,...,0,0,0,0,0.0,0.0,1.0,1.0,0.0,2.0
9997,153218,0,0,0,0,1,0,112500.0,942300.0,30528.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
9998,429449,0,0,0,1,1,0,270000.0,1147500.0,33682.5,...,0,0,0,0,0.0,0.0,0.0,0.0,3.0,9.0
9999,196142,1,1,0,0,1,1,135000.0,270000.0,13500.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0

**DEFINE FEATURES AND TARGET VARIABLE**

In [9]:
# Define the features and target variable
X = data.drop('FLAG_OWN_REALTY', axis=1)
y = data['FLAG_OWN_REALTY']

**SPLIT DATA INTO TRAINING AND TEST SETS**

In [11]:
from sklearn.model_selection import train_test_split

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

**FIT A LINEAR REGRESSION MODEL**

In [14]:
print(X_train.columns)
print(X_test.columns)

Index(['SK_ID_CURR', 'TARGET', 'NAME_CONTRACT_TYPE', 'CODE_GENDER',
       'FLAG_OWN_CAR', 'CNT_CHILDREN', 'AMT_INCOME_TOTAL', 'AMT_CREDIT',
       'AMT_ANNUITY', 'AMT_GOODS_PRICE',
       ...
       'FLAG_DOCUMENT_18', 'FLAG_DOCUMENT_19', 'FLAG_DOCUMENT_20',
       'FLAG_DOCUMENT_21', 'AMT_REQ_CREDIT_BUREAU_HOUR',
       'AMT_REQ_CREDIT_BUREAU_DAY', 'AMT_REQ_CREDIT_BUREAU_WEEK',
       'AMT_REQ_CREDIT_BUREAU_MON', 'AMT_REQ_CREDIT_BUREAU_QRT',
       'AMT_REQ_CREDIT_BUREAU_YEAR'],
      dtype='object', length=121)
Index(['SK_ID_CURR', 'TARGET', 'NAME_CONTRACT_TYPE', 'CODE_GENDER',
       'FLAG_OWN_CAR', 'CNT_CHILDREN', 'AMT_INCOME_TOTAL', 'AMT_CREDIT',
       'AMT_ANNUITY', 'AMT_GOODS_PRICE',
       ...
       'FLAG_DOCUMENT_18', 'FLAG_DOCUMENT_19', 'FLAG_DOCUMENT_20',
       'FLAG_DOCUMENT_21', 'AMT_REQ_CREDIT_BUREAU_HOUR',
       'AMT_REQ_CREDIT_BUREAU_DAY', 'AMT_REQ_CREDIT_BUREAU_WEEK',
       'AMT_REQ_CREDIT_BUREAU_MON', 'AMT_REQ_CREDIT_BUREAU_QRT',
       'AMT_REQ_CREDIT_BUREAU_YEAR'],
      dtype='object', length=121)

In [17]:
X_train = pd.get_dummies(X_train)
X_test = pd.get_dummies(X_test)

**CALCULATE AIC AND BIC USING STATS MODELS**

In [19]:
print(X_train.isnull().sum())
print(X_test.isnull().sum())

SK_ID_CURR                         0
TARGET                             0
NAME_CONTRACT_TYPE                 0
CODE_GENDER                        0
FLAG_OWN_CAR                       0
                                  ..
WALLSMATERIAL_MODE_Panel           0
WALLSMATERIAL_MODE_Stone, brick    0
WALLSMATERIAL_MODE_Wooden          0
EMERGENCYSTATE_MODE_No             0
EMERGENCYSTATE_MODE_Yes            0
Length: 234, dtype: int64
SK_ID_CURR                         0
TARGET                             0
NAME_CONTRACT_TYPE                 0
CODE_GENDER                        0
FLAG_OWN_CAR                       0
                                  ..
WALLSMATERIAL_MODE_Panel           0
WALLSMATERIAL_MODE_Stone, brick    0
WALLSMATERIAL_MODE_Wooden          0
EMERGENCYSTATE_MODE_No             0
EMERGENCYSTATE_MODE_Yes            0
Length: 230, dtype: int64

In [20]:
X_train = X_train.dropna()
X_test = X_test.dropna()

In [21]:
X_train = pd.get_dummies(X_train)
X_test = pd.get_dummies(X_test)

ValueError: The indices for endog and exog are not aligned